.Burger-container {
	text-align: center;
}
.Total-cost {
	display: inline-block;
	width: 50%;
	margin: 0 auto 10px;
	padding: 5px;
	background: #f5f5f5;
	border-radius: 4px;
	font-size: 16px;
}
.Total-cost span {
	font-weight: 700;
}
.Burger-image {
	background: #f5f5f5;
	min-height: 256px;
	margin-bottom: 10px;
	border-radius: 6px;
}
.BreadBottom {
	height: 13%;
	width: 80%;
	background: linear-gradient(#F08E4A, #e27b36);
	border-radius: 0 0 30px 30px;
	box-shadow: inset -15px 0 #c15711;
	margin: 2% auto;
}

.BreadTop {
	height: 20%;
	width: 80%;
	background: linear-gradient(#bc581e, #e27b36);
	border-radius: 50% 50% 0 0;
	box-shadow: inset -15px 0 #c15711;
	margin: 2px auto;
	position: relative;
}

.Seeds1 {
	width: 10%;
	height: 15%;
	position: absolute;
	background-color: white;
	left: 30%;
	top: 50%;
	border-radius: 40%;
	transform: rotate(-20deg);
	box-shadow: inset -2px -3px #c9c9c9;
}

.Seeds1:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	left: -170%;
	top: -260%;
	border-radius: 40%;
	transform: rotate(60deg);
	box-shadow: inset -1px 2px #c9c9c9;
}

.Seeds1:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	left: 180%;
	top: -50%;
	border-radius: 40%;
	transform: rotate(60deg);
	box-shadow: inset -1px -3px #c9c9c9;
}

.Seeds2 {
	width: 10%;
	height: 15%;
	position: absolute;
	background-color: white;
	left: 64%;
	top: 50%;
	border-radius: 40%;
	transform: rotate(10deg);
	box-shadow: inset -3px 0 #c9c9c9;
}

.Seeds2:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	left: 150%;
	top: -130%;
	border-radius: 40%;
	transform: rotate(90deg);
	box-shadow: inset 1px 3px #c9c9c9;
}

.meat {
	width: 80%;
	height: 8%;
	background: linear-gradient(#7f3608, #702e05);
	margin: 2px auto;
	border-radius: 15px;
}

.cheese {
	width: 90%;
	height: 4.5%;
	margin: 2px auto;
	background: linear-gradient(#f4d004, #d6bb22);
	border-radius: 20px;
}

.salad {
	width: 85%;
	height: 7%;
	margin: 2px auto;
	background: linear-gradient(#228c1d, #91ce50);
	border-radius: 20px;
}

.bacon {
	width: 80%;
	height: 3%;
	background: linear-gradient(#bf3813, #c45e38);
	margin: 2px auto;
}

.Burger {
	width: 280px;
	margin: auto;
	height: 250px;
	min-height: 250px;
	overflow: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
