ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	background: #f5f5f5;
	padding: 5px 10px;
	border-radius: 5px;
	align-items: center;
	transition: all 0.5s;
	border: 2px solid #f5f5f5;
}
li:hover {
	border-color: mediumpurple;
}
li span {
	flex: 1 1 0;
	text-align: center;
}

li span:nth-child(1) {flex-grow: 2;}
li span:nth-child(2) {flex-grow: 3;}
li span:nth-child(3) {flex-grow: 2;}
li span:nth-child(4) {flex-grow: 2;}
li span:nth-child(5) {flex-grow: 1;}

span.Ingredients-icon {
	width: 50px;
	height: 50px;
	background-size: 45px !important;
	border-radius: 4px;
	border: 1px solid mediumpurple;
	transition: all 0.5s;
}
span.Ingredients-icon.meat      {background: #fff url(../../assets/icons/meat.png) center no-repeat;}
span.Ingredients-icon.salad     {background: #fff url(../../assets/icons/salad.png) center no-repeat;}
span.Ingredients-icon.cheese    {background: #fff url(../../assets/icons/cheese.png) center no-repeat;}
span.Ingredients-icon.bacon     {background: #fff url(../../assets/icons/bacon.png) center no-repeat;}
li:hover span.Ingredients-icon {
	background-size: 40px !important;
}
button {
	outline: 0;
	cursor: pointer;
	transition: all 0.5s;
	border: none;
	height: 33px;
}

.Ingredients-name {
	background: #f70000;
	padding: 8px 25px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 4px;
	color: #fff;
}

.Ingredients-remove {
	background: #f70000 url(../../assets/icons/trash.png) center no-repeat;
	background-size: 20px;
	height: 33px;
	width: 33px;
	border-radius: 4px;
}
button:hover {
	background-color: #b32121f2;
}
.Ingredients-count, .Ingredients-cost {
	font-size: 16px;
	font-weight: 500;
}