
body {
	margin: 0;
	padding: 0;
	background: #333;
}

h1 {
	color: #fff;
	text-align: center;
	margin: 50px 0 0;
	text-transform: uppercase;
}

.container {
	background: lightblue;
	border-radius: 10px;
	width: 900px;
	margin: 20px auto;
	padding: 10px 15px;
	overflow: hidden;
	display: flex;
}
h2 {
	margin: 0 0 10px;
	font-size: 18px;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px dashed gray;
	text-transform: uppercase;
}
.col-6 {
	width: 50%;
	padding: 10px;
}
.content {
	border: 2px solid #fff;
	padding: 10px 10px 0;
	border-radius: 6px;
}